body {
  background-color: #f0e8da;
  font-family: cursive;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  /* Tamaño de letra más grande para las respuestas */
  input[type="radio"], label {
      font-size: 18px;
  }

  /* Ajuste de márgenes o padding según sea necesario */
  section {
      margin-bottom: 20px;
  }

  /* Ajuste para imagen si es necesario */
  #img {
      max-width: 100%;
      height: auto;
  }
}
#loggin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img {
  width: 500px;
  margin: 25px;
}

#etiquetasesion{
  color:white;
  background-color: #C4847C;
  padding: 10px 15px; /* Espacio interno: 10px arriba/abajo y 15px izquierda/derecha */
}

#pregunta{
  color: #240303;
  font-size: 22px;
  line-height: 1.6;
}
.titulo{
  color:#240303;
}
#enviar {
  font-family: cursive;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}