body {
  background-color: #f0e8da;
  font-family: DM Sans;
  font-size: 15px;
  line-height: 1.2;
  padding: 0;
}

#encabezado{
  height: 50%;
}

@media (max-width: 600px) {
  /* Tamaño de letra más grande para las respuestas */
  input[type="radio"], label {
      font-size: 18px;
  }
  #plaza {
      max-width: 75%;
      height: 75%;
  }
}

  #loggin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #plaza {
    max-width: 75%;
    height: 50%;
  }
  
  #etiquetasesion{
    color:#240303;
    /*background-color: #C4847C;*/
    /*padding: 10px 15px;  Espacio interno: 10px arriba/abajo y 15px izquierda/derecha */
  }
  
  #pregunta{
    color: #240303;
    font-size: 100%;
    line-height: 1.2;
  }
  .titulo{
    color:#240303;
  }
  #enviar {
    font-size: 20px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }

  #boton-respuesta{
    width: 50%;
  }

  #encabezado{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #logo{
    width: 300px;
    /*background-color: aqua;*/
    margin: -50px;
  }

  #logopilares{
    width: 100%;
    height: 200;
  }



.info {
  font-size: 100%;

}

